certifi==2019.11.28
chardet==3.0.4
gitdb2==3.0.2
GitPython==3.0.8
idna==2.8
progressbar2==3.47.0
pynetbox==4.2.5
python-utils==2.3.0
PyYAML==5.4
requests==2.25.1
six==1.14.0
smmap2==2.0.5
urllib3==1.26.5
python-dotenv==0.15.0
wheel==0.38.1
